# Xcode build files
build/
.build/

# Xcode user files
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
xcuserdata/

# CocoaPods
Pods/
Podfile.lock

# Swift Package Manager
.swiftpm/

# Derived Data
DerivedData/

# IDE
.vscode/
.idea/

# OS
.DS_Store
.AppleDouble
.LSOverride

# Temporary files
*.swp
*.swo
*~
UFree.xcodeproj/xcshareddata/xcschemes/UFree.xcscheme
UFree.xcodeproj/xcshareddata/xcschemes/UFreeUITests.xcscheme
UFree.xcodeproj/xcshareddata/xcschemes/UFreeUnitTests.xcscheme
